.logo{
    max-width: 250px;
}

.color-white{
    color: white;
}

.dropdown-menu-unad > .dropdown-item {
    color: #fff;
    /*display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;*/
}

.dropdown-menu-unad > .dropdown-item:hover {
    color: #212529;
}

.bg-blue-unad {
    background-color: #005883 !important;
}

.bg-dark-unad {
    background-color: #333333 !important;
}

.bg-yellow-unad{
    background-color: #F0B429 !important;
}