.jm_fondo{
  /*fondo azul UNAD*/
  background:rgb(0,88,131);
}
.jm_fondocontraste{
  /*fondo naranja contraste UNAD*/
  background:rgb(240,180,41);
}
.jm_fondocontraste2{
  /*fondo naranja contraste UNAD*/
  background:rgb(244,121,32);
}
.jm_navbar{
  background:rgb(0,88,131);
}
.jm_plano{
  /*fondo gris oscuro UNAD*/
  background:rgb(51,51,51);
}
.jm_plano2{
  /*fondo gris claro UNAD*/
  background:rgb(179,179,179);
}
.jm_plano2{
  /*fondo gris claro UNAD*/
  background:rgb(128,128,128);
}
.jm_titulo1{
  /*tipografía UNAD*/
  font-family:"Franklin Gothic Heavy"
  font-size:1.3em;
}
.jm_contenido{
    /*tipografía UNAD*/
  font-family:"Franklin Gothic Book"
  font-size:1.3em;
}
